service: mygala-bk-occasion
frameworkVersion: '3.40'
configValidationMode: error

plugins:
  - serverless-prune-plugin
  - serverless-domain-manager


custom:
  prune:
    automatic: true
    includeLayers: true
    number: 2
  serverless-offline:
    noPrependStageInUrl: true
  config: ${file(./bk-config/configs.${self:provider.stage}.json)}
  domains:
    prod: api.mygala.in
    dev: dev-api.mygala.in
  customDomain:
    # Ex: serverless create_domain --stage dev
    domainName: ${self:custom.domains.${self:provider.stage}}
    basePath: 'occasion' # indication of backend service
    stage: ${self:provider.stage}
    createRoute53Record: false
  vpc:
    prod:
      securityGroupIds:
        - ${self:custom.config.securityGroup}
      subnetIds:
        - ${self:custom.config.subnet1}
        - ${self:custom.config.subnet2}
        - ${self:custom.config.subnet3}
  customCors:
    origin: '*'
    headers:
      - platform
      - appversion
      - Content-Type
      - X-Amz-Date
      - Authorization
      - X-Api-Key
      - X-Amz-Security-Token
      - X-Amz-User-Agent
    allowCredentials: false


provider:
  name: aws
  timeout: 12
  runtime: nodejs16.x
  region: ap-south-1
  stage: ${opt:stage, 'dev'}
  iam:
    role: ${self:custom.config.lambdaRole}
  vpc: ${self:custom.vpc.${self:provider.stage}, null}
  endpointType: REGIONAL
  deploymentBucket: ${self:provider.stage}-mygala-serverless-deployments
  environment: ${file(./bk-config/envs.${self:provider.stage}.json)}


# functions:
#   occasion:
#     name: ${self:custom.config.envPrefix}-occasion-apis
#     handler: handler.invoke
#     events:
#       - http:
#           # path: /v1/new
#           method: post
#           cors: ${self:custom.customCors}
#       - http:
#           # path: /v1/list
#           method: get
#           cors: ${self:custom.customCors}
#       - http:
#           # path: /v1/{id}
#           method: any
#           cors: ${self:custom.customCors}
#       - http:
#           # path: /v1/{id}/join
#           method: put
#           cors: ${self:custom.customCors}
#       - http:
#           # path: /v1/{id}/users
#           method: get
#           cors: ${self:custom.customCors}
#       - http:
#           # path: /v1/{id}/assets
#           method: get
#           cors: ${self:custom.customCors}
#   event:
#     name: ${self:custom.config.envPrefix}-occasion-event-apis
#     handler: eventsHandler.invoke
#     events:
#       - http:
#           # path: /v1/{id}/event/list
#           method: get
#           cors: ${self:custom.customCors}
#       - http:
#           # path: /v1/{id}/event/new
#           method: post
#           cors: ${self:custom.customCors}
#       - http:
#           # path: /v1/{id}/event/{event_id} 
#           method: any
#           cors: ${self:custom.customCors}
#       - http:
#           # path: /v1/{id}/event/{event_id}/assets
#           method: get
#           cors: ${self:custom.customCors}
#   occasion-bg-tasks:
#     timeout: 60
#     name: ${self:custom.config.envPrefix}-occasion-bg-tasks
#     handler: processor.sns
#     events:
#       - sns: arn:aws:sns:${self:custom.config.awsRegion}:${self:custom.config.awsAccountId}:${self:custom.config.envPrefix}-occasion-bg-tasks

resources:
  Conditions:
    isProd: {"Fn::Equals" : ["${self:provider.stage}", "prod"]}
    isDev: {"Fn::Equals" : ["${self:provider.stage}", "dev"]}
  Resources:
    occasionBgTasksSNS:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: ${self:custom.config.envPrefix}-occasion-bg-tasks
